---
import FooterContent from '@lib/chunks/Footer.astro'
import Canvas from '@lib/components/Canvas/Canvas.svelte'
import Footer from '@lib/components/Footer/Footer.svelte'
import Header from '@lib/components/Header/Header.svelte'
import Locales from '@lib/components/Locales/Locales.svelte'
import Main from '@lib/components/Main/Main.svelte'
import Nav from '@lib/components/Nav/Nav.svelte'
import ThemeSwitcher from '@lib/components/ThemeSwitcher/ThemeSwitcher.svelte'
import Vignette from '@lib/components/Vignette/Vignette.svelte'
import { DEFAULT_LOCALE } from '@lib/l18n'
import store from '@lib/shared/store'
import { determineLocale } from '@lib/shared/utils'
import Head from './Head.astro'

export interface Props extends Record<string, any> {
  scripts?: string
  modifier?: string
}

const { scripts, modifier, ...props } = Astro.props
const { slug } = Astro.params
const locale = slug ? determineLocale(slug) : DEFAULT_LOCALE

store.update((store: any) => ({ ...store, locale }))
---

<!doctype html>
<html lang={locale as string}>
  <Head {...props} locale={locale as string} scripts={scripts} />
  <body>
    {
      !modifier && (
        <Header transition:name="header" transition:persist>
          <Nav currentUrl={slug} />
          <Locales slug={slug} />
          <ThemeSwitcher client:load />
        </Header>
      )
    }
    <Main client:load>
      <slot />
    </Main>
    {
      !modifier && (
        <Footer transition:name="footer" transition:persist>
          <FooterContent locale={locale as string} />
        </Footer>
      )
    }
    <slot name="assets" />

    <Canvas {locale} {slug} {modifier} client:only="svelte">
      <slot />
    </Canvas>
    <Vignette transition:name="vignette" transition:persist />
  </body>
</html>
